.formBlock {
    border-left: 1px solid #ceebf1;
    padding-left: 30px;
}

a.formLabel {
    font-weight: bold;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    display: inline-block;
}

.formBlock .fieldBlock {
    position: relative;
    margin-bottom: 40px;
}

.fieldBlock .fieldNo {
    position: absolute;
    top: 0px;
    left: -45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ceebf1;
    text-align: center;
    line-height: 1.9;
}

.fieldBlock input,
.fieldBlock textarea {
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    border: 2px solid #007f96;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    outline: 0px;
}

.fieldBlock .controls .checkbox {
    margin-right: 20px;
    cursor: pointer;
}

.fieldBlock .controls .checkbox input {
    width: auto;
    margin-right: 5px;
}

.formBlock .submitBtn {
    width: 100%;
    max-width: 350px;
    background-color: #da502d;
    border-radius: 40px;
    color: white;
    padding: 10px 0px;
    cursor: pointer;
    outline: 0px;
}

.fancyRadioButtons .controls label.checkbox{
    margin-bottom: 20px;
    margin-right: 10px;
}

.fancyRadioButtons .controls label.checkbox span {
    border: 1px solid #007f96;
    padding: 5px 10px;
    border-radius: 7px;
}

.fancyRadioButtons .controls label.checkbox input{
    display: none;
}

.fancyRadioButtons .controls label.checkbox input:checked ~ span{
    background-color: #007f96;
    color: white;
}

.fancySelect select{
    display: none;
}

.fancySelect .fancySelectBox{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #007f96;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.fancySelect .fancySelectBox.active{
    background-color: #007f96;
    color: white;
}
