.formBlock{
    border-left: 1px solid #ceebf1;
    padding-left: 30px;
}

a.formLabel{
    font-weight: bold;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 30px;
    display: inline-block
}

.formBlock .fieldBlock{
    position: relative;
    margin-bottom: 40px;
}

.fieldBlock .fieldNo{
    position: absolute;
    top: 0px;
    left: -45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ceebf1;
    text-align: center;
    line-height: 1.9;
}

.fieldBlock input, .fieldBlock textarea{
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    border: 2px solid #007f96;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    outline: 0px;
}

.fieldBlock .controls .checkbox{
    margin-right: 20px;
    cursor: pointer;
}

.fieldBlock .controls .checkbox input{
    width: auto;
    margin-right: 5px;
}

.formBlock .submitBtn{
    width: 100%;
    max-width: 350px;
    background-color: #da502d;
    border-radius: 40px;
    color: white;
    padding: 10px 0px;
    cursor: pointer;
    outline: 0px;
}