@charset "utf-8";

/* author: Ajith VM */

body {
    padding: 0px;
    border: 0px;
    margin: 0px;
}
body * {
    font-family: "Sen", sans-serif;
}

.siteHeader {
    background-color: #9ad7db;
}

.siteContainer{
    max-width: 800px;
    margin: auto;
}

@media (max-width: 992px) {
    .siteContainer{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.siteHeader{
    font-size: 14px;
    color: #007f96;
}

.siteHeader .mainText {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 10px;
    font-weight: bold;
    padding-top: 20px;
}
.siteHeader .imageSection {
    position: relative;
}

.imageSection img.docImg {
    height: 275px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 20px;
    border: none;
    position: absolute;
    bottom: 0px;
}

@media (max-width: 992px) {
    .imageSection img.docImg {
        height: 190px;
        position: static;
    }
}

.supportedSection {
    color: black;
    margin-bottom: 10px;
}

.supportedSection img {
    margin-right: 20px;
}
@media (max-width: 992px) {
    .supportedSection img {
        height: 70px;
    }
}

.supportedSection .supportedText {
    margin-top: 40px;
}

@media (max-width: 992px) {
    .supportedSection .supportedText {
        margin-top: 20px;
    }
}

.faqHeader{
    color: #007f96;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 25px;
}

.faqQuestion {
    margin-bottom: 25px;
}

.faqQuestion .col-1{
    text-align: center;
}

.faqQuestion .dot{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #ceebf1;
    border-radius: 50%;
}

.faqQuestion .question{
    color: #007f96;
    margin-bottom: 5px;
}

.faqQuestion .answer{
    color: black;
}

footer{
    text-align: center;
    padding: 40px 0px;
    margin-top: 200px;
}